<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit_TextUI_ResultPrinter"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         bootstrap="bootstrap.php"
         strict="false"
         verbose="true">
	<testsuites>
	  <testsuite name="My Test Suite">
	    <directory suffix=".php">tests/</directory>
	  </testsuite>
	</testsuites>
	<groups>
		<include>
			<group>tlds</group>			
			<group>pricing</group>			
		</include>
	</groups>
	<!-- 
	<logging>
                <log type="coverage-html" target="/Volumes/Build/enom_pro_coverage/" charset="UTF-8"
       highlight="false" lowUpperBound="35" highLowerBound="70"/>
        </logging>
	    -->
	<php>
		<const name="ROOTDIR" value="/Users/robertgregor/git/enom_pro/src" />
		<const name="WHMCS" value="TRUE" />
		<const name="UNIT_TESTS" value="TRUE" />
		<const name="ENOM_USERNAME" value="circletree" />
		<const name="ENOM_PASSWORD" value="nUc7OYeY" />
		<const name="WHMCS_API_UN" value="api" />
		<const name="WHMCS_API_PW" value="1234" />
		<const name="WHMCS_API_URL" value="http://localhost/whmcs/includes/api.php" />
	</php>
</phpunit>
