/*[fmt]1A90-1A0B-4*/
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
}
.label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.label:empty,
.badge:empty {
  display: none;
}
a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label-important,
.badge-important {
  background-color: #b94a48;
}
.label-important[href],
.badge-important[href] {
  background-color: #953b39;
}
.label-warning,
.badge-warning {
  background-color: #f89406;
}
.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
.label-success,
.badge-success {
  background-color: #468847;
}
.label-success[href],
.badge-success[href] {
  background-color: #356635;
}
.label-info,
.badge-info {
  background-color: #3a87ad;
}
.label-info[href],
.badge-info[href] {
  background-color: #2d6987;
}
.label-inverse,
.badge-inverse {
  background-color: #333333;
}
.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a;
}
.btn .label,
.btn .badge {
  position: relative;
  top: -1px;
}
.btn-mini .label,
.btn-mini .badge {
  top: 0;
}

.btn {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #cccccc;
    *border: 0;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}
.btn:active, .btn.active {
    background-color: #cccccc \9;
}
.btn:first-child {
    *margin-left: 0;
}
.btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled, .btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
    margin-top: 4px;
}
.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
    margin-top: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
    margin-top: -1px;
}
.btn-mini {
    padding: 0 6px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 100%;
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #0044cc;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}
.btn-primary:active, .btn-primary.active {
    background-color: #003399 \9;
}
.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #f89406;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    color: #ffffff;
    background-color: #f89406;
    *background-color: #df8505;
}
.btn-warning:active, .btn-warning.active {
    background-color: #c67605 \9;
}
.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #bd362f;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    color: #ffffff;
    background-color: #bd362f;
    *background-color: #a9302a;
}
.btn-danger:active, .btn-danger.active {
    background-color: #942a25 \9;
}
.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #51a351;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    color: #ffffff;
    background-color: #51a351;
    *background-color: #499249;
}
.btn-success:active, .btn-success.active {
    background-color: #408140 \9;
}
.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #2f96b4;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color: #ffffff;
    background-color: #2f96b4;
    *background-color: #2a85a0;
}
.btn-info:active, .btn-info.active {
    background-color: #24748c \9;
}
.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #222222;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    color: #ffffff;
    background-color: #222222;
    *background-color: #151515;
}
.btn-inverse:active, .btn-inverse.active {
    background-color: #080808 \9;
}
button.btn, input[type="submit"].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button.btn.btn-large, input[type="submit"].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
}
button.btn.btn-small, input[type="submit"].btn.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #0088cc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-link:hover, .btn-link:focus {
    color: #005580;
    text-decoration: underline;
    background-color: transparent;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus {
    color: #333333;
    text-decoration: none;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pager {
    margin: 20px 0;
    list-style: none;
    text-align: center;
    =
    zoom: 1;
}

.pager:before, .pager:after {
    display: table;
    content: "";
    line-height: 0;
}

.pager:after {
    clear: both;
}

.pager LI {
    display: inline;
}

.pager LI > A, .pager LI > SPAN {
    display: inline-block;
    padding: 5px 14px;
    background-color: #FFF;
    border: 1px solid #DDD;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager LI > A:hover, .pager LI > A:focus {
    text-decoration: none;
    background-color: #F5F5F5;
}

.pager .next > A, .pager .next > SPAN {
    float: right;
}

.pager .previous > A, .pager .previous > SPAN {
    float: left;
}

.pager .disabled > A, .pager .disabled > A:hover, .pager .disabled > A:focus, .pager .disabled > SPAN {
    color: #999999;
    background-color: #FFF;
    cursor: default;
}

TABLE.datatable {
    width: 100%;
}

LABEL {
    cursor: pointer;
}

LABEL:hover {
    text-decoration: underline;
}

.enom_pro_widget {
    margin-bottom: 0;
    border: 1px solid #EBEBEB;
    /*+border-radius:5px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

.alert, .alert H4 {
    color: #C09853;
}

.alert H4 {
    margin: 0;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}

.alert-success H4 {
    color: #468847;
}

.alert-danger, .alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

.alert-danger H4, .alert-error H4 {
    color: #B94A48;
}

.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}

.alert-info H4 {
    color: #3A87AD;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > P, .alert-block > UL {
    margin-bottom: 0;
}

.alert-block P + P {
    margin-top: 5px;
}

.aligncenter {
    text-align: center;
}
.floatright {
    float: right;
}
.floatleft {
    float: left;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.well-large {
  padding: 24px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
PRE.api_error {
    background-color: #FFFFFF;
    overflow: scroll;
    height: 200px;
    padding: 10px;
}

PRE.code {
    margin: 20px;
    padding: 10px;
    background-color: #EFEFEF;
    font-family: Verdana;
    border: 1px solid #3A87AD;
}

PRE.code.inline {
    display: inline-block;
    margin: 0;
    padding: 5px;
}

.inline-wrap {
    padding: 10px 0;
}

#enom_faq H1, #enom_faq H2, #enom_faq H3, #enom_faq H4 {
    color: #000000;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

#enom_faq H1 {
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
    font-size: 16pt;
    font-weight: bold;
}

#enom_faq H2 {
    font-size: 15pt;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
    margin-top: 10px;
}

#enom_faq H3 {
    font-size: 12pt;
}

#enom_faq H4 {
    font-size: 11pt;
    border-bottom: 1px solid #3A87AD;
    margin-top: 20px;
}

FORM.refreshbutton {
    display: inline-block;
}
.refreshbutton .btn {
    background-color: inherit !important;
    color: inherit !important;
}
.refreshbutton INPUT[type="submit"] {
    padding: 2px 5px;
}
.enom_pro_loader {
    width: 160px;
    height: 20px;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-align: center;
    margin: 5px auto;
}
.enom_pro_loader.small {
    width: 16px;
    height: 16px;
    background-image: url(../images/loading-small.gif);
    background-color: #FFFFFF;
    /*+border-radius:8px;*/
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}
.enom_pro_loader.small.whois {
    text-indent: 10px;
    width: 120px;
    background-position: left center;
}
#enom_pro_import_page .enom_pro_loader {
    top: 0px;
    left:0px;
    float: left;
}
.domain_whois {
    position: relative;
}
.hidden {
    display: none;
}
.btn.btn-success, .btn.btn-success:visited, .btn-primary, .btn-primary:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.btn.large {
    padding: 10px 20px;
    display: block;
    margin-top: 10px;
}

.enom_stat_button {
    text-align: center;
}

#enom_pro_transfers_table {
}

#enom_pro_transfers_table TH {
    background-color: #D9EDF7;
    border-bottom: 1px solid #3A87AD;
}

#enom_pro_transfers_table .none TH {
    font-weight: normal;
    padding-bottom: 0;
    word-wrap: normal;
    white-space: nowrap;
    width: 70px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: #EBEBEB;
}

#enom_pro_transfers_table .domain_name {
    display: inline-block;
    width: 150px;
    text-align: center;
    overflow: auto;
}

.enom_pro_widget TABLE {
    width: 100%;
}

.enom_pro_widget.alert {
    text-align: center;
}

#enombalance .alert-error {
    border: 3px outset #B94A48;
    /*+border-radius:8px;*/
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#enombalance .alert-error.inset {
    border-style: inset;
    background-color: #EED4D8;
}

#import_table {
    width: 100%;
}

.table-hover TD {
    background-color: #F5F5F5;
    border-bottom: 1px solid #D9EDF7;
}

#import_table TD {
    text-align: right;
    padding: 5px;
}

#import_table TD .alert P {
    margin: 0;
}

#import_table TH {
    border-bottom: 1px solid #EBEBEB;
    font-size: 12pt;
    font-weight: normal;
}

#import_table TD .alert {
    text-align: left;
}

#import_table .alert {
    margin-bottom: 0;
}

.table-hover TR:hover TD {
    background-color: #FFFFFF;
    border-bottom: 1px solid #BCE8F1;
}

#enom_pro_import_page {
    position: relative;
}
#enom_pro_import_page #meta {
    /*+placement:anchor-top-right 0px -50px;*/
    position: absolute;
    right: 0px;
    top: -50px;
    border-bottom: 1px solid #BCE8F1;
}
a.btn-primary, a.btn-danger, a.btn-info, a.btn-inverse, a.btn-warning {
    color: #FFFFFF;
    text-decoration: none;
}
#meta td {
    vertical-align: top;
}
#enom_pro_changelog {
    max-height: 200px;
    overflow: auto;
    border: 1px solid #999999;
    /*+border-radius:5px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: 10px;
}

#enom_pro_changelog P,
#enom_pro_changelog LI {
    color: #363636;
}

#enom_pro_changelog H3 {
    color: #000000;
    line-height: 1.5;
    margin: 5px 0 3px;
    border-bottom: 1px solid #D6E9C6;
}

#enom_pro_changelog UL {
    margin: 0 0 3px;
}
#enom_pro_pricing_import TH A {
    color: #000000;
}

#enom_pro_pricing_import A.btn-mini {
    padding: 2px;
    line-height: 1;
}

#enom_pro_pricing_import SPAN.toggle_this_val {
    padding: 1px 4px;
    margin: 0 0 0 0px;
    position: relative;
}

#enom_pro_pricing_import .datatable TR TD {
    position: relative;
}

#enom_pro_pricing_import TABLE TBODY TR TD SPAN.price {
    font-size: 10px;
}

#enom_pro_import_page .enom_pro_loader {
    width: 100%;
}
#enom_pro_import_page .enom_pro_loader.small {
    width: inherit;
}
#enom_pro_pricing_table TD {
    background-color: transparent;
}
#enom_pro_pricing_table TD.hover {
    background-color: #FCF8E3;
}
#tooltip
{
    position: absolute;
    z-index: 3000;
    /*+border-radius:4px;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    /*+box-shadow:0px 0px 10px #000;*/
    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    -o-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    border: 1px solid #111;
    background-color: #EEE;
    padding: 5px;
}
#tooltip H3, #tooltip DIV
{
    margin: 0;
}
#tooltip.viewport-right
{
    margin-left: 715px;
}
#enom_pro_dialog_iframe {
    width: 100%;
    height: 100%;
    border: none;
}
#enom_pro_pricing_table.loading INPUT:disabled {
    cursor: not-allowed;
}

.loading .body-loader {
    background: #FFFFFF url(../images/loading.gif) no-repeat 50% 50%;
}
.slideup.fixed {
    /*+placement:anchor-top-left 0px -35px;*/
    position: absolute;
    left: 0px;
    top: 0;
}

.slideup.fixed .alert {
    margin-bottom: 5px;
    /*+box-shadow:inset 0 0 5px rgba(255, 255, 255, 1);*/
    -moz-box-shadow: inset 0 0 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 1);
    -o-box-shadow: inset 0 0 5px rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 1);
    /*+border-radius:20px;*/
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.slideup.fixed .alert P {
    margin: 0;
}

#enom_pro_pricing_import_page {
    position: relative;
}

#enom_pro_import_page #top_loader {
    position: absolute;
    margin-top: -10px;
}

#enom_pro_import_page #loader_bottom {
    position: relative;
}

#domain_caches {
    width: 386px;
    vertical-align: top;
    /*+placement:margin-auto 0px 0px;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0px;
    top: 0px;
}

#domain_caches TD {
    vertical-align: top;
}

#loading_pricing H3 {
    text-align: center;
    font-size: 18pt;
    font-style: italic;
}

#loading_pricing .a_minute {
    text-align: center;
    line-height: 3;
    font-size: inherit;
}

#loading_pricing .enom_pro_loader {
    background-color: #FFFFFF;
    padding: 10px 20px;
    /*+border-radius:10px;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #BCE8F1;
}

a[target='_blank'] {
    cursor: alias;
}
.ep_lightbox {
    cursor: context-menu !important;
}

#enom_pro_pricing_import .noborder {
    width: 100%;
}

#enom_pro_pricing_import .noborder TD {
    border: none;
    padding: 0;
}

#enom_pro_pricing_table TD {
    padding: 0;
}

#enom_pro_pricing_import_page {
    overflow: auto;
}

